{% extends "community/base.html" %}
{% load static %}
{% block content %}

<div class="page-content">
    <div class="changep_content">
        <div class="form_change">
            <div class="img_tab">
                <img class="img_form" src="{% static 'community/images/chart.PNG' %}" alt="">
            </div>
            <div class="tab_pr">
                <div class="tab_inner_pswd">
                    <a class="tablinks_pswd active">Password reset sent</a>
                </div>
            </div>
        </div>
        <div class="pswdchange_help">
            We’ve emailed you instructions for setting your password,</br>
            If an account exists with the email you entered. You should receive them shortly.</br>
            </br>
            If you don’t receive an email,</br>
            Please make sure you’ve entered the address you registered with, and check your spam folder.
        </div>
        <div class="form_row_rp_btn">
            <a class="input_pswd_btn" href="{% url 'home' %}">Home</a>
        </div>
    </div>
</div>

{% endblock %}






