{% extends "community/base.html" %}
{% load static %}
{% block content %}



  <div class="page-content">
    {% if error %}
      <div class="f_error_wrap">
        <div class="f_error">
          {{ error }}
        </div>
      </div>
    {% endif %}
    <div class="form_content signup_content">
      <div class="form_right">
        <div class="img_tab">
            <img class="img_form" src="{% static 'community/images/chart.PNG' %}" alt="">
        </div>
        <div class="tab_s">
            <div class="tab_inner_pswd">
                <a class="tablinks_pswd active">Change Password</a>
            </div>
        </div>
        <form class="form_detail" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="tabcontent" id="sign-up">
             
          
              <div class="form_row">
                <label class="form_row_inner" for="id_old_password">
                    <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password" class="input_form_s" placeholder="Old Password">
                </label>
              </div>
              <div class="form_row">
                <label class="form_row_inner" for="id_new_password1">
                    <input type="password" name="new_password1" autocomplete="current-password" autofocus required id="id_new_password1" class="input_form_s" placeholder="New Password">
                </label>
              </div>
              <div class="form_row">
                <label class="form_row_inner" for="id_new_password2">
                    <input  type="password" name="new_password2" autocomplete="current-password" autofocus required id="id_new_password2" class="input_form_s" placeholder="Confirm New Password">
                </label>
              </div>

              <div class="pswrdHelpText">
                <ul style="list-style-type: none;">
                  <li>Not too similar to your personal information.</li>
                  <li>At least 8 characters long</li>
                  <li>Your password can’t be a commonly used password.</li>
                  <li>Your password can’t be entirely numeric.</li>
                </ul>
              </div>

              <div class="form_row_pswd">
                <div class="form_row_pswd_btn">
                    <input type="submit" class="input_pswd_btn" value="Change">
                </div>
                <div class="form_row_pswd_btn">
                    <a class="input_pswd_btn" href="{% url 'edituserprofile' %}">Back</a>
                </div>
              </div>

              <div class="form_row_forgot">
                <div class="forgot_wrap">
                  <a class="forgot_btn" href="{% url 'reset_password' %}">Forgot Password?</a>
                </div>
              </div>

            </div>
        </form>
      </div>
    </div>
  </div> 

{% endblock %}